*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 300;
}
img{
    height: 25px;
    width: 25px;
    margin: 1rem;
}
h1{
    margin: 5rem 0 1rem 0;
    font-size: 3rem;
}
button{
    background: transparent;
    width: 80%;
    border: 1px solid rgba(69, 66, 66, 0.1);
    padding: 1rem 2rem;
    border-radius: 25px;
    margin-top: 8.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}

.first-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.top-p{
    width: 65px;
    height: 65px;
    background: palevioletred;
    border-radius: 50%;
    text-align: center;
    margin: 1rem 0 1rem 0;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
}
.top-p > span{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}
.fix{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 2rem;
transform: translateY(-0.2rem);
}

.p-for{
    margin-bottom: 0.3rem;
}
